
body{
    background-image: url(fotos/ciudad.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}


.col h1{
    font-size: 400%;
    color: blueviolet;
    text-align: center;
}